# YOLOv5
matplotlib>=3.9.2
numpy>=2.1.1
opencv-python>=4.10.0.84
Pillow>=10.4.0
PyYAML>=6.0.2
requests>=2.32.3
scipy>=1.14.1
torch==2.3.1
torchvision==0.18.1
tqdm>=4.66.5
#protobuf<4.21.3  # https://github.com/ultralytics/yolov5/issues/8012
pandas>=2.2.2
seaborn>=0.13.2
filetype>=1.2.0

# Jupyter
#ipython
#ipykernel
#ipywidgets
#jupyterthemes
#notebook
#nb_conda_kernels

# LRP
# cudatoolkit=10.1
# scipy=1.5.2
# scikit-image

# Misc
#scikit-learn
